<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            <!--здесь размещаем название для других страниц-->
        {% endblock %} - Famol
    </title>
</head>
<body>
    <nav>
        <a href="/home">Главная</a>
        <a href="/posts">Посты</a>
        <a href="/create">Создать пост</a>
    </nav>
    {% block body %}
        <!--здесь размещаем контент для другиш стриниц-->
    {% endblock %}
</body>
</html>